{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}My shop{% endblock %}</title>
		<link href="{% static "css/base.css" %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
	</head>
	<body>
		<div class="container">
			<div id="header" class="jumbotron">
				<a href="/" class="logo">My shop</a>
			</div>
			<div id="subheader">
				<h2><a href="{% url "cart:cart_detail" %}">My Cart</a></h2>
				<div class="cart">
					{% with total_items=cart|length %}
						{% if cart|length > 0 %}
							Your cart:
							<a href="{% url "cart:cart_detail" %}">
							{{ total_items }} item{{ total_items|pluralize }},
							${{ cart.get_total_price }}
							</a>
							{% else %}
							Your cart is empty.
						{% endif %}
					{% endwith %}
				</div>
			</div>
			<div id="content" class="clearfix">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>